{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <section class="section">
        <div class="container has-text-centered">
            <a class="button is-success" href="{{ path('new') }}">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>Add a new sub</span>
            </a>
        </div>
    </section>
    <section class="section">
        {% for sub in subs %}
            <div class="content">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="https://www.youtube.com/channel/{{ sub.getChannel() }}">{{ sub.getTitle() }}</a>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">{{ sub.getKeywords() }}</div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
