<a class="button is-link" href="/profile">
	<span class="icon is-small">
		<i class="fab fa-accessible-icon"></i>
    </span>
    <span>
        <strong>{{ app.user.username }}</strong>
    </span>
</a>
